body {
    background-color: Lavender; 
    font-family: Arial, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.container {
    max-width: 300px;
    width: 100%;
    background-color: White;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px;
    text-align: center;
    border: 1px solid Thistle; 
}

h1 {
    color: Indigo; 
    font-size: 22px;
    margin-bottom: 10px;
}

p {
    color: DarkOrchid; 
    font-size: 14px;
    margin-bottom: 20px;
}

.campo-grupo input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid Plum;
    border-radius: 8px;
    box-sizing: border-box; 
    text-align: center;
}

.botoes-operacoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 15px;
}

.btn-op {
    padding: 12px;
    background-color: DarkMagenta; 
    color: White;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-op:hover {
    background-color: Indigo;
}

.btn-limpar {
    margin-top: 15px;
    background: none;
    color: DarkSlateBlue;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.hidden {
    display: none;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: Thistle;
    border-radius: 8px;
    color: Indigo;
    font-weight: bold;
}
