body {
    background-color: Lavender; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 100px; 
}

.container {
    width: 300px; 
    margin: 0 auto; 
    background-color: White;
    padding: 20px;
    border: 2px; 
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: Indigo;
    font-size: 20px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid Thistle;
    border-radius: 5px;
}

.btn-op {
    width: 45%; 
    margin: 2px;
    padding: 10px;
    background-color: DarkMagenta;
    color: White;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-op:hover {
    background-color: Indigo;
}

.btn-limpar {
    margin-top: 15px;
    background-color: transparent;
    color: DarkSlateBlue;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.hidden {
    display: none;
}

#resultado {
    margin-top: 15px;
    padding: 10px;
    background-color: Thistle;
    color: Indigo;
    font-weight: bold;
    border-radius: 5px;
}
